@import url("https://fonts.googleapis.com/css?family=Bitter|Lobster");

.App {
  text-align: center;
}

main {
  position: fixed;
  display: grid;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-content: center;
  align-items: center;
  justify-items: center;
  z-index: -1;
  background-color: hsl(355, 80%, 60%);
}
main h1 {
  font-family: "Lobster", cursive;
  font-size: 4rem;
  line-height: 1;
  color: hsl(0, 40%, 90%);
  text-shadow: 0.1rem 0.1rem 0 hsla(355, 50%, 25%, 0.8);
}
main .message {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 1rem;
  background-color: hsla(0, 100%, 100%, 0.5);
}
main .message p {
  font-family: "Bitter", cursive;
  font-size: 2rem;
  text-align: center;
  color: hsl(10, 70%, 15%);
}
